In [1]:
import pandas as pd

In [2]:
Dataset=pd.read_csv('insurance_pre.csv')

In [3]:
Dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
Dataset=pd.get_dummies(Dataset,dtype=int,drop_first=True)
Dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
Independent=Dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
Independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
Dependent=Dataset[[ 'charges']]
Dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(Independent,Dependent,test_size=0.30,random_state=0)

In [8]:
#standardisation
#Preprocessing the input only

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [9]:
#GridSearchCV

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['squarred_error','absolute_error','poisson','friedman_mse'],'max_features': [None,'sqrt','log2'],'n_estimators':[50,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)

#Fitting the model
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
30 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'friedman_mse', 'squared_error', 'poisson', 'absolute_error'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'poisson', 'friedman_mse', 'squared_error'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'friedman_mse', 'squared_error', 'poisson'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'poisson', 'absolute_error', 'squared_error', 'friedman_mse'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'squared_error', 'absolute_error', 'poisson', 'friedman_mse'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'squared_error', 'poisson', 'absolute_error', 'friedman_mse'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'squared_error', 'poisson', 'friedman_mse', 'absolute_error'}. Got 'squarred_error' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
 0.79725423 0.79522924 0.81050125 0.81322437 0.81096906 0.81266487
 0.80496186 0.80528205 0.80716748 0.81299847 0.80415337 0.81123289
 0.79930538 0.80427665 0.81022385 0.81113701 0.81285777 0.81298705]
  warnings.warn(
C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squarred_error', 'absolute_error',
                                       'poisson', 'friedman_mse'],
                         'max_features': [None, 'sqrt', 'log2'],
                         'n_estimators': [50, 100]},
             verbose=3)

In [10]:
re=grid.cv_results_
Table=pd.DataFrame. from_dict(re)
Table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000241,0.000482,0.000000,0.000000,squarred_error,None,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
1,0.000641,0.000829,0.000000,0.000000,squarred_error,None,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
2,0.000241,0.000222,0.000000,0.000000,squarred_error,sqrt,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
3,0.000611,0.000373,0.000000,0.000000,squarred_error,sqrt,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
4,0.000169,0.000337,0.000000,0.000000,squarred_error,log2,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
5,0.000172,0.000239,0.000000,0.000000,squarred_error,log2,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
6,0.850987,0.125447,0.004971,0.006415,absolute_error,None,50,"{'criterion': 'absolute_error', 'max_features'...",0.853274,0.781734,0.793532,0.795105,0.762627,0.797254,0.030320,17
7,1.596445,0.105271,0.011363,0.005814,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",0.844971,0.777143,0.795965,0.794173,0.763893,0.795229,0.027514,18
8,0.571567,0.033585,0.005574,0.007643,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",0.856903,0.791401,0.807875,0.823254,0.773074,0.810501,0.028595,9
9,1.031499,0.106592,0.009871,0.007224,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.859536,0.794030,0.814612,0.827106,0.770837,0.813224,0.030015,1
10,0.555409,0.034984,0.008096,0.007568,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",0.859108,0.797737,0.809953,0.823782,0.764266,0.810969,0.031109,8
11,0.966335,0.054771,0.012943,0.010833,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.862570,0.793396,0.812604,0.823830,0.770924,0.812665,0.030753,5
12,0.235345,0.023225,0.005729,0.007113,poisson,None,50,"{'criterion': 'poisson', 'max_features': None,...",0.862690,0.765685,0.818568,0.804927,0.772939,0.804962,0.034888,13
13,0.452042,0.047664,0.013630,0.004175,poisson,None,100,"{'criterion': 'poisson', 'max_features': None,...",0.866001,0.769503,0.819305,0.803153,0.768447,0.805282,0.036124,12
14,0.160383,0.016696,0.005419,0.008717,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.863943,0.784895,0.802374,0.824660,0.759966,0.807167,0.035430,11
15,0.340604,0.027460,0.013014,0.003427,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.859987,0.793229,0.804193,0.832386,0.775197,0.812998,0.029937,2
16,0.175810,0.020515,0.013668,0.006863,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.855351,0.782509,0.801486,0.810775,0.770646,0.804153,0.029201,15
17,0.363186,0.046853,0.018381,0.006622,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.857284,0.794518,0.809078,0.828390,0.766894,0.811233,0.030545,6
18,0.225151,0.042686,0.015081,0.003891,friedman_mse,None,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.853142,0.763908,0.807990,0.797855,0.773633,0.799305,0.031266,16
19,0.407025,0.040632,0.016884,0.007202,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.873564,0.763489,0.814585,0.801317,0.768429,0.804277,0.039660,14
20,0.184800,0.019038,0.011632,0.009039,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.861691,0.787199,0.809592,0.825727,0.766911,0.810224,0.032545,10
21,0.430422,0.141169,0.008914,0.005006,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.865053,0.795186,0.806170,0.825294,0.763983,0.811137,0.033496,7
22,0.169808,0.018569,0.006220,0.006311,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.860775,0.788096,0.811868,0.824561,0.778989,0.812858,0.028963,4
23,0.351525,0.070712,0.010566,0.006262,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.863760,0.793351,0.806775,0.829344,0.771706,0.812987,0.031539,3

In [11]:
print(' R_score for best parameter{}:'.format(grid.best_params_))

 R_score for best parameter{'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}:

In [12]:
grid_predictions = grid.predict(X_test)

In [13]:
#R_Score:

from sklearn.metrics import r2_score
R_score=r2_score(Y_test,grid_predictions)
R_score

0.873944964131389

In [14]:
import pickle
filename="Standard_Scaler.pkl"
pickle.dump(sc,open(filename,'wb'))
scx=pickle.load(open('Standard_Scaler.pkl','rb'))

In [15]:
import pickle
filename="finalized_model_Random_Forest_1.sav"
pickle.dump(grid,open(filename,'wb'))

In [16]:
Preinput=scx.transform([[23,25.70,1,0,1]])
Preinput

C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[-1.17608405, -0.81068024, -0.06746417, -0.97676557,  1.98149332]])

In [19]:
loaded_model=pickle.load(open("finalized_model_Random_Forest_1.sav",'rb'))
Future_Prediction=loaded_model.predict(Preinput)
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[17719.580117]