In [1]:
#importing pandas library
import pandas as pd

In [2]:
#Data collection
Dataset=pd.read_csv('insurance_pre.csv')

In [3]:
Dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
Dataset=pd.get_dummies(Dataset,dtype=int,drop_first=True)
Dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
Independent=Dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
Independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
Dependent=Dataset[['charges']]
Dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
#Standardisation

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
Independent=sc.fit_transform(Independent)

In [9]:
#GridSeachCV

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV
param_grid = {'fit_intercept':[False,True],'copy_X':[False,True],'n_jobs':[None],'positive':[True,False]}
grid = GridSearchCV(LinearRegression(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(Independent,Dependent)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

GridSearchCV(estimator=LinearRegression(), n_jobs=-1,
             param_grid={'copy_X': [False, True],
                         'fit_intercept': [False, True], 'n_jobs': [None],
                         'positive': [True, False]},
             verbose=3)

In [10]:
#Viewing the results in the dictionary as well as table format

re=grid.cv_results_
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_copy_X,param_fit_intercept,param_n_jobs,param_positive,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002125,0.002608,0.009846,0.003838,False,False,None,True,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329938,-0.716615,-0.390302,-0.463066,-0.473329,-0.474650,0.131711,5
1,0.006647,0.004464,0.003971,0.004923,False,False,None,False,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,7
2,0.001925,0.000586,0.001056,0.002112,False,True,None,True,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
3,0.004671,0.003579,0.001968,0.003382,False,True,None,False,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,3
4,0.002715,0.001670,0.001832,0.001500,True,False,None,True,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329938,-0.716615,-0.390302,-0.463066,-0.473329,-0.474650,0.131711,5
5,0.002852,0.000923,0.000663,0.000584,True,False,None,False,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,7
6,0.003916,0.000767,0.001361,0.000767,True,True,None,True,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
7,0.002038,0.000727,0.001257,0.001202,True,True,None,False,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,3

In [12]:
Linear_prediction = grid.predict(Independent)

In [15]:
#R_Score

from sklearn.metrics import r2_score
r_score=r2_score(Dependent,Linear_prediction)
print(' R_score for best parameter{}:'.format(grid.best_params_))

 R_score for best parameter{'copy_X': False, 'fit_intercept': True, 'n_jobs': None, 'positive': True}:

In [16]:
r_score

0.749694530346479