In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
Dataset=pd.read_csv('insurance_pre.csv')

In [3]:
Dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
Dataset=pd.get_dummies(Dataset,dtype=int,drop_first=True)
Dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
Independent=Dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
Independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
Dependent=Dataset[[ 'charges']]
Dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(Independent,Dependent,test_size=0.30,random_state=0)

In [8]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['squarred_error','absolute_error','poisson','friedman_mse'],'max_features': [None,'sqrt','log2'],'n_estimators':[50,100]}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)


grid.fit(X_train, Y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
30 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
14 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'poisson', 'squared_error', 'friedman_mse'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
9 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'poisson', 'squared_error', 'absolute_error', 'friedman_mse'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
3 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'poisson', 'friedman_mse', 'squared_error'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
2 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'poisson', 'absolute_error', 'friedman_mse', 'squared_error'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'squared_error', 'poisson', 'friedman_mse'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'poisson', 'friedman_mse', 'absolute_error', 'squared_error'}. Got 'squarred_error' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
 0.7979804  0.7952365  0.81135085 0.81433666 0.80744485 0.80975709
 0.80327258 0.80237651 0.8119277  0.81371729 0.80805378 0.81141715
 0.79813446 0.80157303 0.812098   0.80729119 0.80748946 0.81207822]
  warnings.warn(
C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squarred_error', 'absolute_error',
                                       'poisson', 'friedman_mse'],
                         'max_features': [None, 'sqrt', 'log2'],
                         'n_estimators': [50, 100]},
             verbose=3)

In [9]:
grid_predictions = grid.predict(X_test)

In [14]:
re=grid.cv_results_
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000903,0.000934,0.000000,0.000000,squarred_error,None,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
1,0.002538,0.002277,0.000000,0.000000,squarred_error,None,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
2,0.000304,0.000607,0.000000,0.000000,squarred_error,sqrt,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
3,0.001521,0.000592,0.000000,0.000000,squarred_error,sqrt,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
4,0.001539,0.000357,0.000000,0.000000,squarred_error,log2,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
5,0.001502,0.000899,0.000000,0.000000,squarred_error,log2,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
6,0.705723,0.007046,0.008844,0.002053,absolute_error,None,50,"{'criterion': 'absolute_error', 'max_features'...",0.844866,0.779189,0.801931,0.806639,0.757277,0.797980,0.029321,17
7,1.341719,0.024950,0.011212,0.000963,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",0.849946,0.768595,0.795218,0.799481,0.762943,0.795237,0.030867,18
8,0.383314,0.008251,0.010415,0.001748,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",0.865148,0.795971,0.802838,0.828887,0.763911,0.811351,0.033944,7
9,0.797204,0.020306,0.013845,0.002516,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.862084,0.793854,0.811835,0.832441,0.771470,0.814337,0.031212,1
10,0.401125,0.013383,0.009018,0.000682,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",0.855229,0.800024,0.799644,0.822634,0.759693,0.807445,0.031338,11
11,0.870436,0.050867,0.011830,0.003306,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.854683,0.794083,0.806919,0.825528,0.767573,0.809757,0.029327,8
12,0.197188,0.011136,0.010443,0.000924,poisson,None,50,"{'criterion': 'poisson', 'max_features': None,...",0.865345,0.760210,0.817292,0.798342,0.775174,0.803273,0.036655,13
13,0.390616,0.008189,0.018327,0.005600,poisson,None,100,"{'criterion': 'poisson', 'max_features': None,...",0.860423,0.757525,0.814770,0.805467,0.773698,0.802377,0.035684,14
14,0.146729,0.002010,0.008676,0.003357,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.861838,0.791775,0.803904,0.825831,0.776290,0.811928,0.029749,5
15,0.350294,0.024195,0.017213,0.001837,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.864692,0.789440,0.808448,0.829854,0.776152,0.813717,0.031264,2
16,0.204680,0.044566,0.007597,0.004168,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.858454,0.781597,0.806822,0.824817,0.768579,0.808054,0.031877,9
17,0.405414,0.053739,0.018993,0.006907,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.862723,0.789186,0.803244,0.832736,0.769197,0.811417,0.032956,6
18,0.210258,0.018237,0.006729,0.003039,friedman_mse,None,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.863121,0.757792,0.808695,0.795777,0.765288,0.798134,0.037541,16
19,0.462734,0.033075,0.013327,0.000917,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.861690,0.763848,0.815472,0.799603,0.767253,0.801573,0.035811,15
20,0.199138,0.024054,0.009072,0.002681,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.864855,0.795624,0.809991,0.824423,0.765597,0.812098,0.032782,3
21,0.325394,0.022091,0.012455,0.001964,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.852227,0.782266,0.808460,0.827427,0.766076,0.807291,0.030825,12
22,0.178228,0.014290,0.008779,0.001939,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.862624,0.783087,0.801794,0.820679,0.769264,0.807489,0.032567,10
23,0.298627,0.022058,0.010636,0.002367,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.869087,0.786797,0.809010,0.830621,0.764875,0.812078,0.035974,4

In [13]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,grid_predictions)
print('R_score:',r_score)
print("The R_score value for best parameter {}:".format(grid.best_params_))

R_score: 0.8729892090670379
The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}: