In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
Dataset=pd.read_csv('insurance_pre.csv')

In [3]:
Dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
Dataset=pd.get_dummies(Dataset,dtype=int,drop_first=True)
Dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
Independent=Dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
Independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
Dependent=Dataset[[ 'charges']]
Dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['squarred_error','absolute_error','poisson','friedman_mse'],'max_features': [None,'sqrt','log2'],'n_estimators':[50,100]}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)


grid.fit(Independent,Dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
30 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
23 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'friedman_mse', 'squared_error', 'poisson', 'absolute_error'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'poisson', 'friedman_mse', 'squared_error', 'absolute_error'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'poisson', 'squared_error', 'friedman_mse'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'poisson', 'squared_error', 'friedman_mse', 'absolute_error'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'squared_error', 'friedman_mse', 'poisson', 'absolute_error'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'friedman_mse', 'absolute_error', 'poisson', 'squared_error'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'squared_error', 'poisson', 'friedman_mse', 'absolute_error'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'friedman_mse', 'squared_error', 'poisson'}. Got 'squarred_error' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
 0.8232222  0.82434977 0.83178852 0.83387451 0.82774459 0.83434065
 0.82640802 0.8259402  0.83145411 0.83295155 0.83224421 0.83390245
 0.8272745  0.82348674 0.83155529 0.83355195 0.83148822 0.83359098]
  warnings.warn(
C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squarred_error', 'absolute_error',
                                       'poisson', 'friedman_mse'],
                         'max_features': [None, 'sqrt', 'log2'],
                         'n_estimators': [50, 100]},
             verbose=3)

In [27]:
grid_predictions = grid.predict(Independent)

In [28]:
re=grid.cv_results_
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003118,0.002185,0.000000,0.000000,squarred_error,None,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
1,0.007966,0.010620,0.000000,0.000000,squarred_error,None,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
2,0.001100,0.000681,0.000000,0.000000,squarred_error,sqrt,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
3,0.001688,0.000495,0.000000,0.000000,squarred_error,sqrt,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
4,0.000633,0.000823,0.000000,0.000000,squarred_error,log2,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
5,0.001278,0.000575,0.000000,0.000000,squarred_error,log2,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
6,5.394910,0.618512,0.026664,0.030017,absolute_error,None,50,"{'criterion': 'absolute_error', 'max_features'...",0.839522,0.764781,0.853853,0.819411,0.838544,0.823222,0.031204,18
7,10.893076,0.321279,0.084142,0.054323,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",0.842468,0.773126,0.849808,0.820832,0.835515,0.824350,0.027340,16
8,3.171632,0.086759,0.023372,0.029194,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",0.852658,0.776710,0.858975,0.829280,0.841319,0.831789,0.029344,8
9,6.191184,0.068196,0.089169,0.006340,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.858675,0.782594,0.859331,0.825895,0.842877,0.833875,0.028417,3
10,3.014794,0.115352,0.022931,0.028216,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",0.850369,0.781321,0.849461,0.821401,0.836172,0.827745,0.025495,12
11,6.118647,0.071519,0.060883,0.033494,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.860705,0.777872,0.859309,0.827636,0.846181,0.834341,0.030635,1
12,1.341615,0.073299,0.023486,0.028141,poisson,None,50,"{'criterion': 'poisson', 'max_features': None,...",0.847969,0.772150,0.858918,0.816811,0.836192,0.826408,0.030507,14
13,2.283110,0.217552,0.076087,0.023832,poisson,None,100,"{'criterion': 'poisson', 'max_features': None,...",0.847100,0.770280,0.857284,0.817388,0.837649,0.825940,0.030785,15
14,1.067244,0.603022,0.029436,0.027299,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.855377,0.780879,0.853806,0.825770,0.841438,0.831454,0.027429,11
15,1.346125,0.015251,0.017727,0.000534,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.851799,0.781278,0.863386,0.825255,0.843039,0.832952,0.028680,6
16,0.663414,0.057351,0.010715,0.000410,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.860227,0.776845,0.856086,0.825925,0.842140,0.832244,0.030194,7
17,1.607459,0.351776,0.034097,0.021930,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.855285,0.776583,0.864957,0.829641,0.843046,0.833902,0.031012,2
18,0.913743,0.079573,0.026769,0.024371,friedman_mse,None,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.847565,0.771258,0.860027,0.818475,0.839048,0.827274,0.031108,13
19,1.696792,0.088388,0.071344,0.029643,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.843895,0.765899,0.856333,0.814446,0.836861,0.823487,0.031851,17
20,0.710551,0.073425,0.056670,0.039926,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.856239,0.774008,0.860293,0.825577,0.841658,0.831555,0.031256,9
21,1.452262,0.095249,0.061709,0.019873,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.857878,0.781267,0.859221,0.829378,0.840016,0.833552,0.028438,5
22,0.645622,0.073322,0.056521,0.027541,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.853897,0.775726,0.865171,0.821164,0.841482,0.831488,0.031472,10
23,1.235962,0.067610,0.041575,0.040183,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.857362,0.784220,0.860353,0.825458,0.840562,0.833591,0.027689,4

In [29]:
from sklearn.metrics import r2_score
R_score=r2_score(Dependent,grid_predictions)
R_score

0.9682164037298403

In [30]:
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 100}: