In [1]:
#Importing Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Loading Dataset
dataset=pd.read_csv("CKD.csv")
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
#checking counts-Rows&columns
dataset.shape

(399, 25)

In [4]:
#get dummies
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [5]:
dataset["classification_yes"].value_counts()

classification_yes
1    249
0    150
Name: count, dtype: int64

In [6]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [7]:
#spliting Independent and Dependent
Independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv','wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes','appet_yes', 'pe_yes', 'ane_yes']]
Independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [8]:
Dependent=dataset[["classification_yes"]]
Dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [9]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Independent,Dependent, test_size = 1/3, random_state = 0)

In [10]:
#StandardScaler
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_= sc.fit_transform(X_train)
X_test_= sc.transform(X_test)

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['gini','entropy','log_loss'],'max_features': [None,'sqrt','log2'],'n_estimators':[10,100]} 
grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1') 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

#we have lot scoring metrics....we can also us that one
#https://scikit-learn.org/stable/modules/model_evaluation.html#classification-metrics

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': [None, 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             scoring='f1', verbose=3)

In [12]:
grid_predictions = grid.predict(X_test)

In [13]:
re=grid.cv_results_
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.034199,0.004173,0.008913,0.003063,gini,None,10,"{'criterion': 'gini', 'max_features': None, 'n...",0.953846,0.942857,0.968750,0.955224,0.969697,0.958075,0.010066,16
1,0.219749,0.007730,0.016512,0.002376,gini,None,100,"{'criterion': 'gini', 'max_features': None, 'n...",0.955224,0.957746,0.935484,0.942857,0.985075,0.955277,0.016971,18
2,0.020096,0.003508,0.011242,0.005481,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",1.000000,0.985075,0.935484,0.969697,1.000000,0.978051,0.024061,8
3,0.180290,0.012457,0.020325,0.001927,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.985075,0.971429,0.984615,0.969697,0.985075,0.979178,0.007058,6
4,0.030730,0.009076,0.012666,0.003610,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.969697,0.970588,0.952381,0.969697,0.985075,0.969488,0.010362,11
5,0.216008,0.011437,0.018289,0.000916,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",1.000000,0.957746,0.984615,0.969697,0.985075,0.979427,0.014469,5
6,0.046075,0.013548,0.010768,0.002638,entropy,None,10,"{'criterion': 'entropy', 'max_features': None,...",0.969697,0.970588,0.918033,0.956522,0.970588,0.957086,0.020244,17
7,0.236585,0.005548,0.020215,0.001340,entropy,None,100,"{'criterion': 'entropy', 'max_features': None,...",0.969697,0.957746,0.968750,0.942857,0.985075,0.964825,0.014013,13
8,0.033133,0.009355,0.009540,0.001529,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.969697,0.957746,0.900000,0.969697,1.000000,0.959428,0.032837,14
9,0.184996,0.005663,0.017642,0.000563,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.969697,0.957746,0.952381,0.985075,1.000000,0.972980,0.017570,9
10,0.023594,0.003392,0.009475,0.000656,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.985075,0.971429,0.968750,0.969697,1.000000,0.978990,0.012057,7
11,0.194898,0.007447,0.018376,0.001909,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.985075,0.971429,0.984615,0.969697,1.000000,0.982163,0.010984,3
12,0.027175,0.003228,0.009191,0.001361,log_loss,None,10,"{'criterion': 'log_loss', 'max_features': None...",0.969697,0.985507,0.952381,0.942857,0.985075,0.967103,0.017164,12
13,0.227726,0.001831,0.017306,0.002081,log_loss,None,100,"{'criterion': 'log_loss', 'max_features': None...",0.969697,0.957746,0.935484,0.942857,0.985075,0.958172,0.017922,15
14,0.023230,0.001656,0.008252,0.000416,log_loss,sqrt,10,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.985075,0.985507,0.952381,0.985075,1.000000,0.981607,0.015695,4
15,0.182097,0.006308,0.017023,0.002576,log_loss,sqrt,100,"{'criterion': 'log_loss', 'max_features': 'sqr...",1.000000,0.957746,0.984615,0.969697,1.000000,0.982412,0.016695,2
16,0.021007,0.003918,0.010640,0.001337,log_loss,log2,10,"{'criterion': 'log_loss', 'max_features': 'log...",0.939394,0.985507,0.968750,0.969697,1.000000,0.972670,0.020215,10
17,0.148991,0.010746,0.010318,0.001187,log_loss,log2,100,"{'criterion': 'log_loss', 'max_features': 'log...",1.000000,0.971429,0.984615,0.985075,1.000000,0.988224,0.010792,1

In [14]:
print(grid.best_params_)

{'criterion': 'log_loss', 'max_features': 'log2', 'n_estimators': 100}

In [15]:
#evaluation metrics(confusion_matrix)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)

In [16]:
print(cm)

[[50  1]
 [ 1 81]]

In [17]:
from sklearn.metrics import classification_report
clf_report = classification_report(y_test,grid_predictions)

In [18]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.98      0.98      0.98        51
           1       0.99      0.99      0.99        82

    accuracy                           0.98       133
   macro avg       0.98      0.98      0.98       133
weighted avg       0.98      0.98      0.98       133

In [19]:
#f1 score prediction

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'log_loss', 'max_features': 'log2', 'n_estimators': 100}: 0.9849624060150376

In [20]:
#average{‘micro’, ‘macro’, ‘samples’, ‘weighted’, ‘binary’} or None, default=’binary’

In [21]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.9997608799617408