In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
Dataset=pd.read_csv('insurance_pre.csv')

In [3]:
Dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
Dataset=pd.get_dummies(Dataset,dtype=int,drop_first=True)
Dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
Independent=Dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
Independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
Dependent=Dataset[[ 'charges']]
Dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
#Splitting dataset

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(Independent,Dependent,test_size=0.30,random_state=0)

In [8]:
#standardisation

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [9]:
#GridSearchCV

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['squarred_error','absolute_error','poisson','friedman_mse'],'max_features': [None,'sqrt','log2'],'n_estimators':[50,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)

#Fitting the model
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
30 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
14 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'friedman_mse', 'squared_error', 'poisson', 'absolute_error'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'squared_error', 'friedman_mse', 'absolute_error', 'poisson'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'squared_error', 'poisson', 'absolute_error', 'friedman_mse'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'poisson', 'squared_error', 'friedman_mse'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'friedman_mse', 'absolute_error', 'squared_error', 'poisson'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'squared_error', 'absolute_error', 'poisson', 'friedman_mse'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
2 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'friedman_mse', 'squared_error', 'absolute_error', 'poisson'}. Got 'squarred_error' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
 0.79216949 0.79769082 0.81067756 0.81346071 0.81066338 0.81018803
 0.80023499 0.8027195  0.81262331 0.8116953  0.81250908 0.8092585
 0.80248778 0.80215661 0.80940664 0.80803166 0.81135032 0.81353503]
  warnings.warn(
C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squarred_error', 'absolute_error',
                                       'poisson', 'friedman_mse'],
                         'max_features': [None, 'sqrt', 'log2'],
                         'n_estimators': [50, 100]},
             verbose=3)

In [10]:

grid_predictions = grid.predict(X_test)

In [11]:
re=grid.cv_results_
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003612,0.004470,0.000000,0.000000,squarred_error,None,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
1,0.001020,0.001295,0.000000,0.000000,squarred_error,None,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
2,0.000099,0.000199,0.000000,0.000000,squarred_error,sqrt,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
3,0.000415,0.000355,0.000000,0.000000,squarred_error,sqrt,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
4,0.001352,0.001600,0.000000,0.000000,squarred_error,log2,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
5,0.000830,0.000527,0.000000,0.000000,squarred_error,log2,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
6,0.743591,0.066882,0.003570,0.002915,absolute_error,None,50,"{'criterion': 'absolute_error', 'max_features'...",0.850648,0.763874,0.790869,0.798456,0.757000,0.792169,0.033162,18
7,1.410524,0.100519,0.010835,0.001356,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",0.848294,0.784215,0.796795,0.795820,0.763330,0.797691,0.028026,17
8,0.463477,0.029409,0.007123,0.003044,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",0.860316,0.791628,0.804963,0.826580,0.769900,0.810678,0.030904,7
9,0.871635,0.034643,0.010566,0.000907,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.862074,0.792547,0.813738,0.824730,0.774215,0.813461,0.029893,2
10,0.476756,0.044955,0.013839,0.004441,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",0.862969,0.789618,0.812670,0.818091,0.769970,0.810663,0.031285,8
11,0.950849,0.053206,0.010296,0.000632,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.851822,0.790765,0.812113,0.825729,0.770510,0.810188,0.028037,9
12,0.236826,0.012087,0.005522,0.004558,poisson,None,50,"{'criterion': 'poisson', 'max_features': None,...",0.863796,0.759643,0.814031,0.798255,0.765451,0.800235,0.037661,16
13,0.432719,0.013746,0.015729,0.003984,poisson,None,100,"{'criterion': 'poisson', 'max_features': None,...",0.866644,0.756679,0.817789,0.805897,0.766589,0.802719,0.039367,13
14,0.173104,0.016765,0.007822,0.003930,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.863263,0.790618,0.807186,0.832673,0.769376,0.812623,0.032712,3
15,0.356376,0.008267,0.013797,0.005597,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.865264,0.791202,0.812600,0.825014,0.764397,0.811695,0.033779,5
16,0.194102,0.008833,0.008032,0.002853,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.860761,0.796573,0.813877,0.824532,0.766802,0.812509,0.031041,4
17,0.338704,0.017403,0.013446,0.003452,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.858317,0.791761,0.804954,0.828104,0.763158,0.809259,0.032286,11
18,0.220010,0.024726,0.006557,0.003355,friedman_mse,None,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.857696,0.765057,0.814339,0.807819,0.767528,0.802488,0.034176,14
19,0.409682,0.026481,0.012381,0.003073,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.862308,0.764555,0.816364,0.800573,0.766983,0.802157,0.035982,15
20,0.172119,0.010177,0.005364,0.004314,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.857306,0.792503,0.805259,0.822150,0.769816,0.809407,0.029418,10
21,0.385395,0.058293,0.023136,0.006992,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.862211,0.788669,0.804244,0.827012,0.758023,0.808032,0.035173,12
22,0.266680,0.084678,0.015452,0.007581,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.860102,0.787564,0.812365,0.825927,0.770794,0.811350,0.030986,6
23,0.633038,0.020752,0.024600,0.004352,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.866863,0.789218,0.812936,0.828944,0.769715,0.813535,0.033446,1

In [13]:
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 100}:

In [12]:
#R_Score:

from sklearn.metrics import r2_score
R_score=r2_score(Y_test,grid_predictions)
R_score

0.8744612882747902