In [1]:
import pandas as pd

In [2]:
Dataset=pd.read_csv('insurance_pre.csv')

In [3]:
Dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
Dataset=pd.get_dummies(Dataset,dtype=int,drop_first=True)
Dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
Independent=Dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
Independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
Dependent=Dataset[[ 'charges']]
Dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(Independent,Dependent,test_size=0.30,random_state=0)

In [8]:
#standardisation
#Preprocessing both Input and Output

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

scy=StandardScaler()
Y_train=scy.fit_transform(Y_train)
Y_test=scy.transform(Y_test)

In [9]:
#GridSearchCV

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['squarred_error','absolute_error','poisson','friedman_mse'],'max_features': [None,'sqrt','log2'],'n_estimators':[50,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)

#Fitting the model
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
60 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
6 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'friedman_mse', 'poisson', 'squared_error', 'absolute_error'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
12 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'friedman_mse', 'absolute_error', 'squared_error', 'poisson'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
6 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'friedman_mse', 'squared_error', 'poisson'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
2 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'friedman_mse', 'poisson', 'squared_error'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
2 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'squared_error', 'absolute_error', 'friedman_mse', 'poisson'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'squared_error', 'friedman_mse', 'poisson', 'absolute_error'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'squared_error', 'friedman_mse', 'poisson'}. Got 'squarred_error' instead.

--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 373, in fit
    raise ValueError(
ValueError: Some value(s) of y are negative which is not allowed for Poisson regression.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
 0.79731589 0.79734874 0.80675128 0.8124785  0.8069815  0.80963424
        nan        nan        nan        nan        nan        nan
 0.79781489 0.80453158 0.81023198 0.81138778 0.80346069 0.81160416]
  warnings.warn(
C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squarred_error', 'absolute_error',
                                       'poisson', 'friedman_mse'],
                         'max_features': [None, 'sqrt', 'log2'],
                         'n_estimators': [50, 100]},
             verbose=3)

In [10]:
re=grid.cv_results_
Table=pd.DataFrame. from_dict(re)
Table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000027,0.000055,0.000000,0.000000,squarred_error,None,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
1,0.000000,0.000000,0.000000,0.000000,squarred_error,None,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
2,0.000000,0.000000,0.000000,0.000000,squarred_error,sqrt,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
3,0.000000,0.000000,0.000000,0.000000,squarred_error,sqrt,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
4,0.000245,0.000490,0.000000,0.000000,squarred_error,log2,50,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
5,0.000460,0.000285,0.000000,0.000000,squarred_error,log2,100,"{'criterion': 'squarred_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
6,0.733218,0.075990,0.010848,0.007077,absolute_error,None,50,"{'criterion': 'absolute_error', 'max_features'...",0.849487,0.778518,0.797935,0.801069,0.759570,0.797316,0.030048,12
7,1.454004,0.113012,0.012065,0.004881,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",0.845875,0.780999,0.798160,0.799021,0.762688,0.797349,0.027666,11
8,0.467311,0.035252,0.005353,0.006163,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",0.849014,0.791395,0.809666,0.819459,0.764223,0.806751,0.028286,7
9,0.875996,0.056491,0.006996,0.006815,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.860406,0.794163,0.811979,0.824970,0.770875,0.812479,0.030065,1
10,0.468465,0.036898,0.005818,0.006553,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",0.855620,0.792244,0.802349,0.819715,0.764980,0.806981,0.030102,6
11,0.840673,0.031217,0.009923,0.004667,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.854994,0.791498,0.810790,0.819125,0.771764,0.809634,0.027971,5
12,0.022556,0.018921,0.000000,0.000000,poisson,None,50,"{'criterion': 'poisson', 'max_features': None,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
13,0.001826,0.001571,0.000000,0.000000,poisson,None,100,"{'criterion': 'poisson', 'max_features': None,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
14,0.015127,0.026289,0.000000,0.000000,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
15,0.002311,0.001636,0.000000,0.000000,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
16,0.001935,0.001210,0.000000,0.000000,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
17,0.006657,0.008775,0.000000,0.000000,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
18,0.178162,0.024337,0.006251,0.007656,friedman_mse,None,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.855231,0.760598,0.816136,0.789730,0.767380,0.797815,0.034667,10
19,0.363194,0.025020,0.018312,0.006858,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.869479,0.763558,0.816773,0.804650,0.768198,0.804532,0.038385,8
20,0.150224,0.023734,0.004334,0.006408,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.863210,0.791402,0.807618,0.818638,0.770292,0.810232,0.031093,4
21,0.284907,0.005041,0.005356,0.007244,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.865187,0.788874,0.807905,0.829318,0.765656,0.811388,0.034136,3
22,0.156417,0.022513,0.003247,0.006494,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.857082,0.776319,0.804769,0.815931,0.763202,0.803461,0.032833,9
23,0.253276,0.022278,0.009385,0.007663,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.863056,0.787973,0.807449,0.826055,0.773488,0.811604,0.031256,2

In [11]:
print(' R_score for best parameter{}:'.format(grid.best_params_))

 R_score for best parameter{'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}:

In [12]:
grid_predictions = grid.predict(X_test)

In [13]:
#R_Score:

from sklearn.metrics import r2_score
R_score=r2_score(Y_test,grid_predictions)
R_score

0.8716850656610431

In [14]:
import pickle
filename="finalized_model_Random_Forest.sav"
pickle.dump(grid,open(filename,'wb'))

In [15]:
preinput=sc.transform([[24,22.700,1,0,1]])
preinput

C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[-1.10468139, -1.2920469 , -0.06746417, -0.97676557,  1.98149332]])

In [16]:
loaded_model=pickle.load(open("finalized_model_Random_Forest.sav",'rb'))
Result=loaded_model.predict(preinput)
print("Result={}".format(Result))

Result=[0.39195803]

In [17]:
Preoutput=scy.inverse_transform([Result])
Preoutput

array([[17886.9329442]])